@import url("fonts.css");


:root{
    --clr-orange: hsl(26, 100%, 55%);
    --clr-pale-orange:  hsl(25, 100%, 94%);
    --clr-dark-grayish-blue: hsl(219, 9%, 45%);
    --clr-light-grayish-blue: hsl(223, 64%, 98%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-dark: hsl(0, 0%, 0%);
    --clr-grayish-blue: hsl(220, 14%, 75%);
}

.color-orange{
    color: var(--clr-orange);
}

.bg-color-orange{
    background-color: var(--clr-orange);
}

.bg-color-pale-orange{
    background-color: var(--clr-pale-orange);
}

.color-dark-grayish-blue{
    color: var(--clr-dark-grayish-blue);
}

.bg-color-light-grayish-blue{
    background-color: var(--clr-light-grayish-blue);
}

.color-white{
    color: var(--clr-white);
}


.font-bold{
    font-family: 'kumbhSans-bold';
}
/* .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
} */



body{
    font-family: 'KumbhSans-normal';
}


img{
    transition: all .5s;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.image-css{
    aspect-ratio: 1 !important;
    object-fit: cover !important;
}



.box-info {
    display: flex;
    justify-content: center;
    height: 100%;
}
.box-info .info-sneakers-company {
    max-width: 500px;
}

.after-value-off{
    position: relative;
}

.after-value-off::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--clr-grayish-blue);
    bottom: 7px;
    z-index: -1;
}

.max-w-input-80{
    max-width: 80px;
}


.btn:hover{
    border-style: none !important;
}

.active-item{
    opacity: .55;
    border: 3px solid;
    border-color: var(--clr-orange);
}
.img-hover-opacity:hover{
    opacity: .5;
    transition: all 1s;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.after-line-menu{
    position: relative;
}
.after-line-menu::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--clr-grayish-blue);
    bottom: 0;
    z-index: -1;
}

@media(max-width:576px){
    .navbar-nav{
        display: contents !important;
    }
    .mobile-padding{
        padding: 1rem;
    }
}
.svg-hover-dark svg path:hover{
    fill: #000 !important;
    transition: all .5s;
}

.img-hover-avatar img:hover{
    border: 3px solid;
    border-color: var(--clr-orange);
    transition: all .1s;
}

.z-index-1{
    z-index: -1;
}


.link-cursor{
    cursor: pointer;
}

.pop-ups{
    display: none;
    position: fixed;    
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: #0e0d0d6b;
    transition: all 1s;
}

.pop-up{
    background-color: var(--clr-white);
    border-radius: .3rem;
    box-shadow: .2rem .2rem 1.5rem .001rem;
    transition: all 1.5s;
    min-width: 250px;
}

.pop-up a{
    color: var(--clr-dark);
}
.pop-up ul{
    list-style: none;
    margin: .5rem 1rem 1rem 0;
}
.pop-up li{
    padding: .5rem 2rem;
}

.show{
    display: flex;
}

.slide-plus{
    position: relative;
}

.slide-plus a{
    position: absolute;
    top: 50%;
    background-color: var(--clr-white);
    width: 30px;
    height: 30px;
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}



.slide-plus a svg path:hover{
    stroke: var(--clr-orange);
    transition: all .5s;
}

.prev{
    left: 10px;
}

.next{
    right: 10px;
}

#pop-up{
    display: none;
}

.non-active-image{
    height: 0;
    width: 0 !important;
}


@media(max-width:992px){
    .w-none-mobile img{
        width: 0;
        height: 0;
        overflow: hidden;
    }

    .w-none-mobile{
        overflow: hidden;
        display: none !important;
    }
}

@media (min-width: 769px){

    .mobile-menu-display-0{
        width: 0 !important;
        height: 0 !important;
        overflow: hidden;
    }
}


@media(max-width:768px){
    .w-none-mobile{
        width: 0;
        height: 0;
        display: none;
    }
    .mobile-menu-display-0{
        width: 100%;
    }

    .w-none-mobile-li{
        overflow: hidden;
        display: none !important;
    }
}
@media(max-width: 340px){
    .mobile-padding{
        padding: .4rem;
    }
}